/* GLOBAL SETTINGS */

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Hind', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

/* Esta parte es para darle formato a los iconos de Google font */


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

h1{
    font-size: 3rem;
    margin: 0;
}

img{
    max-width: 100%;
}


a:visited, a:link {
    text-decoration: none;
    color: azure;
}


/* ESTILOS AGREGADOS POR CRISTIAN */

/* SECTION SETTINGS */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
}


/* SLIDER SETTINGS */


#portfolio p {
    text-align: justify;
    padding: 2.5rem 2.5rem;
}

.containerSlider {
    width: 100%;
}

.sliderContenido {
    position: relative;
    height: 60rem;
}

.sliderContenido ul {
    position: relative;
}

.containerSlider ul, li {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

ul.sliderContenido li {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    transition: opacity 1s;
}

ul.sliderContenido li img {
    object-fit: cover;
}

#trabajo1, #trabajo2, #trabajo3, #trabajo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SLIDER PICKER */

ul.sliderContenido li:first-child{
    opacity: 1;
}

ul.sliderContenido li:target {
    opacity: 1;
}

.sliderMenu {
    margin: 0;
    display: flex;
    justify-content: center;

}

.sliderMenu li a {
    font-size: 3rem;
    padding: 1rem;
    color:#555

}


/* ESTILOS AGREGADOS POR ANDRÉS */

/* Barra de navegacion */

nav {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    color: azure;
}

nav ul li {
    margin: 0;
}
header {
    top: 0;
    position: sticky;
    z-index: 1;
}
.marca {
    font-size: 4rem;
    padding: 0 0 0 2%;
    /* margin: 1rem; */
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 1rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: azure;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    /* top: .75rem; */
    right: 2%;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: azure;
    border-radius: 2px;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .toggle-button {
        display: flex;
        margin-top: 2.5%;
       
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    img.tech {
        filter: none;
    }
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 66%;
    margin: 2.6rem auto;
    gap: 3rem;
    align-items: center;
}

img.tech {
    filter: grayscale(100%);
    width: 10rem;
    max-height: 5rem;
    transition: .3s ease;
}

img.tech:hover {
    transform: scale(1.2);
    filter: none;
}

/* Andres */
/* About US */

#about-us-section {
    /* background-color: #505393; */
    color: #d3d4e4;
    /* color: #555; */
    text-align: center;
}

.about-us {
    margin: 0 auto;
}

.about-us-lista {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 60rem;
}

.about-us-lista h3 {
    text-transform: uppercase;
    text-align: left;
    padding: 1rem;
}

.about-us-lista li:nth-child(2n+1) {
    border-top-left-radius: 3px;
    background-color: #555;
    border-radius: 0.5rem;
}

.about-us-lista li {
    padding: 1rem;
    margin: 3.5rem;
    display: block;
    position: relative;
    text-align: left;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #555;
    border-radius: 0.5rem;
}

.about-us-img {
    display: inline-block;
    position: relative;
    margin-top: 3rem;
    width: 100px;
    height: 100px;
    max-width: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.about-us-lista p {
    display:inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-contraste{
    color: #555;
}

/* Estilos agregados por Luis */

/*Encabezado*/
.item1 {
    grid-area: header;
}

/*LEFT*/
.item2 {
    grid-area: izq;
    background-color: #C3C3C3;

}

.retos-activos{
    padding: 2rem;
    text-align: justify;
}

.retos-activos-lista{
    text-align: center;

}
/*Principal*/
.item3 {
    grid-area: main;
    z-index: 0;
}
/*Aside*/
.item4 {
    grid-area: aside;
    /* background-color: #555; */
    background-color: #C3C3C3;
}

.item4 div{
    text-align: justify;
    padding: 2rem;
}
/* formulario */
.item5 {
    grid-area: form;
    background-color: #C3C3C3;

}
/*Pie*/
.item6 {
    grid-area: footer;
    background-color: #555;
    color: azure;
}

.grid-container {
    display: grid;
    grid-template-areas:
        /*4 columnas y 5 filas*/
        'header header header header'
        'izq main main aside'
        'izq main main aside'
        'form form form form'
        'footer footer footer footer';
        grid-template-columns: 1.5fr 2fr 2fr 1fr;
        gap: 0rem;
}

/* SECCIÓN PARA EL LADO IZQUIERDO */

.item2 div{
    justify-self: center;
}

input, textarea {
    font-family: inherit;
    font-size: 1.5rem;
}
/* CONTENEDOR PARA EL FORMULARIO */
.grid-container-form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    gap: 10px;
    padding: 10px;
}

.hijo{
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.5rem 0.1rem black;
}

.input_1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.input_2{
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}

.input_3{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.input_4{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.input_5{
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}

.input_6{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.boton_enviar{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    width: 10rem;
    height: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background-color:#555;
    color: azure;
    border-radius: 0.5rem;
}


.grid-container-footer{
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'logo home contacto';
}

.area_2{
    justify-self: center;
    align-self: center;
    grid-area: logo;
}

.area_3{
    justify-self: center;
    align-self: center;
    grid-area: home;
}

.area_4{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-self: flex-start;
    grid-area: contacto;
}

.copyr {
    text-align: right;
    padding-right: 1rem;
}

.area_4 h5 {
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
}

.area_4 p{
    margin: 0;
}

.area_4 iframe {
    align-self: center;
    margin-bottom: 0.5rem;
}
.area_5{
    align-items: baseline;
    justify-self: center;
    grid-area: copyright;
}

.area_5 p{
    font-size: 1.5rem;
    align-items: baseline;
}

.area_5 p code {
    font-size: 1.3rem;
}

.boton_inicio{
    color: azure;
    font-weight: bold;
    text-align: center;
    width: 10rem;
    font-size: 2.5rem;
    border: #C3C3C3 solid;
    border-radius: 0.5rem;
}

.boton_inicio:hover{
    background-color:#C3C3C3;
    color: #555;
    margin: 0;
    transition-duration: 0.5s;
}

h2{
    text-align: center;
    background-color: #555;
    color: azure;
    padding: 0.5rem;
    margin: 0;
}

h4{
    font-size: 4rem;
    font-weight: bold;
}

h5{
    font-size: 2rem;
    font-weight: bold;
}

h6{
    font-size: 1.6rem;
    font-weight: normal;
}

.who p{
    text-align: justify;
    padding: 1rem 10rem;
}

.whatwedo  p{
    text-align: justify;
    padding: 1rem 10rem;
}

table {
    background-color: #ede6db;
    border:#555 solid;
    border-collapse: collapse;

}

table a:visited a:link {
    text-decoration: none;
    color: black;
}

th, td {
    border: solid 1px black;
    padding: 0.5rem;
}


/* RESPONSIVE MOBILE */

@media (max-width: 480px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        grid-template-areas: 
        "header"
        "main"
        "izq"
        "aside"
        "form"
        "footer";
    }

        /*Principal*/

    .item1 {
        width: 100vw;
    }
    .item3 {
        width: 100vw;
        grid-area: main;
        z-index: 0;
    }
    /*Aside*/
    .item4 {
        width: 100vw;
        grid-area: aside;
        background-color: #C3C3C3;
    }

    .item4 div{
        text-align: justify;
        padding: 2rem;
    }
    /* formulario */
    .item5 {
        width: 100vw;
        grid-area: form;
        background-color: #C3C3C3;

    }
    /*Pie*/
    .item6 {
        width: 100vw;
        grid-area: footer;
        background-color: #555;
        color: azure;
    }

    .who p{
        text-align: justify;
        padding: 1rem 5rem;
    }

    .whatwedo  p{
        text-align: justify;
        padding: 1rem 5rem;
    }

    .imgSlider {
        padding: 0rem 1rem;
        width: 100%;
        height: auto;
    }


    .about-us-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .about-us-lista li {
        padding: 1rem;
        margin: 1rem;
        display: block;
        position: relative;
        text-align: left;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #555;
        border-radius: 0.5rem;
    }

    .area_2 h4 {
        font-size: 2rem;
        grid-area: logo;
    }

    .grid-container-footer{
        overflow: hidden;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logo home contacto';
    }

    .area_4 iframe {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    footer iframe {
        width: 0%;
        height: 0%;
    }
    .area_4 {
        align-items: center;
    }
    .grid-container-form{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .input_5 {
        width: 50vw;
        margin-right: 1rem;
    }

    p .copyr {
        font-size: 1rem;
    }

    .item2 iframe {
        width: 80vw;
    }
}
